<!DOCTYPE html>
<html>
   <%- include('header.js') %>
  <body>
    <%- include('top.js') %>

    <h1>Crear cuenta</h1>
    <div class="row">
        <form class="col s12" method=POST>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" name="usuario_id" id="usuario_id" type="text" class="validate">
              <label for="first_name">Usuario ID</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Codigo M" name="codigo_m" id="codigo_m" type="text" class="validate">
              <label for="codigo_m">Codigo M</label>
            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>

  </body>
</html>
