<!DOCTYPE html>
<html>
   <%- include('header.js') %>
  <body>
    <%- include('top.js') %>
    <h1>Lista</h1>
    <table class="striped">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Item Name</th>
                  <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <% lista.forEach(function(elemento) { %>
                  <tr><td><%= elemento.address %></td><td>Eclair</td><td>$0.87</td>  </tr>
              <% }); %>
            </tbody>
    </table>
      <a class="btn-floating btn-large waves-effect waves-light red" href="cuentas/crear"><i class="material-icons">add</i></a>

  <%- include('footer.js') %>

  </body>
</html>
